@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    box-sizing: border-box;
}
img :nth-child(1){
    
  float: inline-start;
   /* display: inline; */
   /* align-items:flex-start ; */
   
}
body {
    width : 1040px;
    margin:auto;
    line-height: 1.5;
    /* border: 1px;
    border: #2222;
    border: solid; */
    text-align: center;
    

}

header {
    background-color: rgb(69,69,69);
   vertical-align: middle;
  padding-right : 100px;
  padding-left :0px;
  font-family: 'Noto Sans', sans-serif;
  padding-bottom: 40px ;
  width: 100% ;
  padding-top : 30px;
}


header nav a{
    float: right;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    padding: 40px;
    vertical-align: middle;

    
}
main :nth-child(1){
    margin-top:30px;
    margin-bottom: 30px;
    /* padding-top: 40px; */
}
main :nth-child(2){
    margin-right:  25px;
}
main :nth-child(4){
    margin-left:  25px;
}
h2 {
    text-align: left;
    margin-top: 30px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold ;
}
p {
    height: 270px;
    width: 400px;
    overflow:scroll;
    margin-left :30px;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-style: italic;
}
main :nth-last-child(4){
    float: left;
    margin-right: 30px;
    margin-left: 41px;
    margin-top: 30px;

}
button {
    align-self: left;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline;
    padding: 10px 20px;
    float: left;
  }
  button :hover {
      background-color: rgb(69,69,69);
      color: black;
  
  }
footer {
    background-color: rgb(69,69,69);
    width: 100%;
    height: 100px;
    margin-top: 100px;
}